.container {
    margin-top: 30px;
    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100vh;
}

.content__cover > img {
    width: 920px;
    height: 500px;
    border-radius: 5px;
}

.content__title {
    font-size: 20px;
   text-align: center;
   padding-left: 200px;
   padding-right: 200px;
   padding-top: 30px;
   padding-bottom: 30px;
}

.content__description {
    padding-left: 280px;
    padding-right: 280px;
}

.content__description > p {
    padding-bottom: 10px;
    
}