section {
    display: flex;
    width: 700px;
    
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    margin-left: 25px;
    padding-bottom: 20px;
    
}

img {
    width: 200px;
    border-radius: 5px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 10px;
    gap: 10px;
}

