
main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

.cards-container {
    width: 100%;
}

hr {
    position: relative;
    left: 30px;
    width: 90%;
    margin-bottom: 20px;
    
}